@import "../../Global";

.container {

    background-color: white;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #dddddd;
    margin-bottom: 15px;
    place-content: flex-start;
    padding: 10px;
    box-sizing: border-box;

    @include flex(start, start);

    &:last-child {
        margin-bottom: 0;
    }
}